body {
  font-family: system-ui, -apple-system;
  padding: 0 2em;
  max-width: 60em;
  margin: 10ex auto;
}

code {
  background-color: whitesmoke;
  color: darkslategrey;
  padding: 0.5ex 0.5em;
  border-radius: 0.75em;
}

code.language-console {
  padding: 2ex 1em;
  margin: 2ex 0;
  display: block;
  overflow-x: auto;
}

@media only screen and (max-width: 980px) {
  code.language-console {
    font-size: 25px;
  }
}

code.language-console::before {
  content: "$ ";
  color: black;
  font-weight: bold;
}
