[Unit]
Description=Local Docker Development DNS
Documentation=https://ldddns.arnested.dk
BindsTo=docker.service
After=docker.service
BindsTo=avahi-daemon.service
After=avahi-daemon.service

[Service]
Type=notify
ExecStart=/usr/libexec/ldddns start
Restart=on-failure
SupplementaryGroups=docker
CapabilityBoundingSet=
DevicePolicy=closed
IPAddressDeny=any
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateNetwork=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
UMask=0777

[Install]
WantedBy=docker.service
