---
on: push
name: Build and test
permissions:
  contents: write
jobs:
  generated:
    name: Check generated code is up to date
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod
      - name: go mod tidy
        run: |
          go mod tidy
          git diff --exit-code
      - name: go generate
        run: |
          go generate -x
          git diff --exit-code
  build_and_test:
    name: Build and test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod
      - name: go version
        run: go version
      - name: go mod verify
        run: go mod verify
      - name: go vet
        run: go vet ./...
      - name: go fmt ./..
        run: |
          go fmt ./...
          git diff --exit-code
      - name: Test
        uses: robherley/go-test-action@v0.6.0
        with:
          testArguments: -race -shuffle=on -benchtime=1x -cover -covermode=atomic -coverprofile=coverage.txt ./...
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Install changelog management tool
        run: go install github.com/goreleaser/chglog/cmd/chglog@main
      - name: Build changelog
        run: chglog init
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --snapshot
      - uses: actions/upload-artifact@v5
        with:
          name: Debian packages
          path: dist/*.deb

  nilaway:
    name: Nilaway
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod
      - name: Install nilaway
        run: go install go.uber.org/nilaway/cmd/nilaway@latest
      - name: Run nilaway
        run: nilaway ./...

  license_check:
    name: License check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod
      - name: Install wwhrd
        run: go install github.com/frapposelli/wwhrd@latest
      - name: go mod vendor
        env:
          GO111MODULE: 'on'
        run: go mod vendor
      - name: wwhrd check
        run: wwhrd check
