name: Release
on:
  push:
    branches:
    - main
jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: arnested/go-version-action@main
      id: go-version
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.35.0
      id: version
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        DEFAULT_BUMP: patch
        RELEASE_BRANCHES: main
    - name: Setup Go ${{ steps.go-version.outputs.latest }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ steps.go-version.outputs.latest }}
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Import GPG signing key
      run: |
        mkdir -p -m 0700 ~/.gnupg/
        printf -- "${{ secrets.GPG_SIGNING_KEY }}" > ~/.gnupg/private-key.asc
        gpg --import --no-tty --batch --yes ~/.gnupg/private-key.asc
    - name: Copy deb packages into build area
      run: |
        mkdir -p site
        cp -v dist/*.deb site/
    - name: Scan packages
      run: |
        dpkg-scanpackages --multiversion . > Packages
        gzip -k -f Packages
      working-directory: site
    - name: apt-ftparchive release
      run: |
        apt-ftparchive release . > Release
        gpg -abs --no-tty --batch --yes -o - Release > Release.gpg
        gpg --clearsign --no-tty --batch --yes -o - Release > InRelease
      working-directory: site
    - uses: ZacJW/markdown-html-action@1.1.1
      with:
        input_files: '[["README.md"]]'
        output_files: '["README.html"]'
    - name: Fix link / package name in GitHub Pages
      run: |
        DEB=$(grep linux_amd64.deb dist/checksums.txt | awk '{print $2}')
        sed -i "s/ldddns_.*_linux_amd64.deb/<a href=\"https:\/\/github.com\/arnested\/ldddns\/releases\/latest\/download\/${DEB}\">${DEB}<\/a>/" README.html
        sed -i 's/<!DOCTYPE html>//' README.html
        cat page/header.html README.html page/footer.html > site/index.html
    - name: Add install script to GitHub Pages
      run: cp -v install.sh site/install.sh
    - name: Deploy deb packages
      uses: JamesIves/github-pages-deploy-action@4.0.0
      with:
        branch: gh-pages
        folder: site
        clean: true
