name: Release
on:
  push:
    branches:
    - main
jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.33.0
      id: version
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        DEFAULT_BUMP: patch
        RELEASE_BRANCHES: main
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Import GPG signing key
      run: |
        mkdir -p -m 0700 ~/.gnupg/
        printf -- "${{ secrets.GPG_SIGNING_KEY }}" > ~/.gnupg/private-key.asc
        gpg --import --no-tty --batch --yes ~/.gnupg/private-key.asc
    - name: Copy deb packages into build area
      run: |
        mkdir -p deb
        cp -v dist/*.deb deb/
    - name: Scan packages
      run: |
        dpkg-scanpackages --multiversion . > Packages
        gzip -k -f Packages
      working-directory: deb
    - name: apt-ftparchive release
      run: |
        apt-ftparchive release . > Release
        gpg -abs --no-tty --batch --yes -o - Release > Release.gpg
        gpg --clearsign --no-tty --batch --yes -o - Release > InRelease
      working-directory: deb
    - uses: ZacJW/markdown-html-action@1.1.0
      with:
        input_files: '[["README.md"]]'
        output_files: '["deb/index.html"]'
        extensions: '["extra"]'
    - name: Deploy deb packages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: deb
        CLEAN: true
