---
name: Shellcheck
on:
  - pull_request
  - push

permissions:
  contents: read
jobs:
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@2.0.0
        env:
          SHELLCHECK_OPTS: -o all
